
input[type=text], select {
    margin: 0 auto;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
   
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
	text-align: center;
	display: inline-block;
    width: 150px;
    background-color: #FB3917;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 190px;
    margin-top: 19px;

}

input[type=submit]:hover {
    background-color: #45a049;
}

