
.main_nav {
	background: #FB3917;
	padding: 15px;
	text-align: center;
}

.main_nav p{ 
	text-decoration: none;
	display: inline;
	padding: 20px;
}



a { 
	text-decoration: none;
	font-size: 15px;
	display: inline;
	
}

a hover, {
	color: red;
}